/* color variables */
:root {
    --primary: #f15454;
    --lightPink: #f4afaf;

}  

#top_menu {
    /* visibility: hidden; */
}

#top_month_addTask{
  display: inline-flexbox;
}

#monthYear {
  text-align: center;
}

#addTaskButton {
  text-align: center;
}

#middle_taskList {
  /* margin-bottom: 100%;
    justify-content: center; */
}

#task_icon_list {
}

#task_details_items {
  font-size: x-small;
  margin: 0 auto;
}

#thumbtackIcon {
  color: var(--primary);
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

#bottom_menu {
    visibility: hidden;
  }