:root {
    --primary: #f15454;
    --lightPink: #f4afaf;
  }  
body{
    background-color:var(--primary);
}
.task_button_container{
    display: flex;
    margin: auto;
}
#cancel_task_button{
    color: #FFF;
}
#add_task_button{
    background-color: var(--primary);
    color: #FFF
}
